body {
  // margin: 0;
}
.fields {
  position: relative;
  aspect-ratio: 1 / 0.753;
  max-width: 800px;
  overflow: hidden;
  margin: 40px auto 0;
  .layer {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    img {
      position: absolute;
    }
  }
  #layer {
    &_1 {
      img {
        width: 110%;
        top: -5%;
        left: -5%;
      }
    }
    &_2 {
      img {
        width: 80%;
        top: 8%;
        left: 10%;
      }
    }
    &_3 {
      img {
        width: 60%;
        bottom: 2%;
        right: -6%;
      }
    }
    &_4 {
      img {
        width: 110%;
        bottom: 2%;
        left: -5%;
      }
    }
    &_5 {
      img {
        width: 120%;
        bottom: -25%;
        left: -10%;
      }
    }
    &_6 {
      img {
        width: 110%;
        bottom: -7%;
        left: -5%;
      }
    }
    &_7 {
      img {
        width: 25%;
        bottom: -6%;
        right: 20%;
      }
    }
  }
}
